.content {
	position: absolute;
	text-align: center;
	top: 45vh;
}

@media screen and (min-width: 568px) {
	.content {
		top: 33vh;
	}
}

@media screen and (min-width: 768px) {
	.content {
		left: 40vw;
		max-width: 55vw;
		min-width: 55vw;
		text-align: initial;
		top: 2vh;
	}
}

@media screen and (min-width: 1024px) {
	.content {
		left: 32vw;
		max-width: 64vw;
		min-width: 64vw;
	}
}

.content__blockTitle {
	color: lightblue;
	font-size: 1.5em;
	padding-bottom: 1vh;
}

.content__blockJobPosition {
	font-size: 1.3em;
}

.content__blockEmployer {
	font-size: 0.8em;
}
