.content {
	position: absolute;
	text-align: center;
	top: 45vh;
}

@media screen and (min-width: 568px) {
	.content {
		top: 33vh;
	}
}

@media screen and (min-width: 768px) {
	.content {
		left: 43vw;
		max-width: 55vw;
		min-width: 55vw;
		text-align: initial;
		top: 2vh;
	}
}

@media screen and (min-width: 1024px) {
	.content {
		left: 32vw;
		max-width: 64vw;
		min-width: 64vw;
	}
}

.content__blockTitle {
	color: lightblue;
	font-size: 1.5em;
	padding-bottom: 1vh;
}

.content__blockJobPosition {
	font-size: 1.3em;
}

.content__blockEmployer {
	font-size: 0.8em;
}

.content__blockEmployerAddress {
	background: left;
	background-image: url('images/place-icon.png');
	background-repeat: no-repeat;
	background-size: 16px;
	display: initial;
	font-size: 0.8em;
	padding-left: 20px;
}

@media screen and (min-width: 768px) {
	.content__blockEmployerAddress {
		left: -20px;
		position: relative;
		top: 5px;
	}
}

.content__blockEmployerDescription {
	font-size: 0.9em;
	padding-top: 10px;
}

@media screen and (min-width: 568px) {
	.content__blockEmployerDescription {
		display: inline-block;
		width: 80vw;
	}
}

@media screen and (min-width: 768px) {
	.content__blockEmployerDescription {
		padding-top: 15px;
		width: unset;
	}
}

.content__blockEmployerDescription--single-skill {
	display: inline-block;
	font-size: 0.7em;
	width: 30vw;
	text-align: right;
	padding-right: 10px;
}

@media screen and (min-width: 568px) {
	.content__blockEmployerDescription--single-skill {
		width: 24vw;
	}
}

@media screen and (min-width: 768px) {
	.content__blockEmployerDescription--single-skill {
		padding-bottom: 8px;
		text-align: initial;
		width: 14vw;
	}
}

.content__blockEmployerDescription--tasks {
	font-size: 0.8em;
	text-align: initial;
}

@media screen and (min-width: 768px) {
	.content__blockEmployerDescription--tasks {
		padding-left: 2vw;
	}
}
