.header {
	background-color: lightblue;
	color: #FFF;
	max-height: 28vh;
	text-align: center;
	width: 100%;
}

@media screen and (min-width: 568px) {
	.header {
		min-height: 30vh;
		text-align: unset;
	}
}

.header__addressContainer {
}

@media screen and (min-width: 568px) {
	.header__addressContainer {
		left: 25vw;
		position: fixed;
		top: 25px;
	}
}

.header__address {
	display: inline-flex;
	font-size: 0.8em;
	position: relative;
	top: -7px;
}

@media screen and (min-width: 568px) {
	.header__address {
		display: unset;
		font-size: 0.7em;
	}
}

.header__addressIcon {
	display: inline-flex;
	width: 8vw;
}

@media screen and (min-width: 568px) {
	.header__addressIcon {
		width: 5vw;
	}
}

.header__email {
	display: inline-flex;
	position: relative;
	top: -5px;
}

.header__email a {
	color: #FFF;
}

.header__emailContainer {
	font-size: 0.8em;
	padding-bottom: 15px;
}

@media screen and (min-width: 568px) {
	.header__emailContainer {
		font-size: 0.7em;
		left: 26.2vw;
		position: fixed;
		top: 52px;
	}
}

.header__emailIcon {
	display: inline-flex;
	padding-right: 5px;
	width: 5vw;
}

@media screen and (min-width: 568px) {
	.header__emailIcon {
		padding-right: 5px;
		width: 3vw;
	}
}

.header__firstName {
	display: block;
	font-size: 1.1em;
	text-transform: uppercase;
}

@media screen and (min-width: 568px) {
	.header__firstName {
		font-size: 0.7em;
	}
}

.header__github {
	display: inline-flex;
	position: relative;
	top: -5px;
}

.header__github a {
	color: #FFF;
}

.header__githubContainer {
	font-size: 1.5em;
}

@media screen and (min-width: 568px) {
	.header__githubContainer {
		font-size: 0.7em;
		left: 26vw;
		position: fixed;
		top: 22vh;
	}
}

.header__githubIcon {
	display: inline-flex;
	padding-right: 15px;
	width: 3vw;
}

@media screen and (min-width: 568px) {
	.header__githubIcon {
		padding-right: 8px;
	}
}


.header__image {
	background-color: white;
	border: 1px solid #BFBFBF;
	box-shadow: 10px 10px 5px #aaaaaa;
	padding: 10px 10px 20px 10px;
	width: 30vw;
}

@media screen and (min-width: 568px) {
	.header__image {
		background-color: white;
		border: 1px solid #BFBFBF;
		box-shadow: 10px 10px 5px #aaaaaa;
		padding: 10px 10px 20px 10px;
		position: fixed;
		right: 110px;
		top: 30px;
		width: 10vw;
	}
}

.header__imageContainer {
	position: relative;
	top: -10vh;
}

.header__lastName {
	display: block;
	font-size: 1.3em;
	text-transform: uppercase;
}

@media screen and (min-width: 568px) {
	.header__lastName {
		font-size: 0.9em;
	}
}

.header__name {
	padding-bottom: 5px;
	padding-top: 20px;
}

@media screen and (min-width: 568px) {
	.header__name {
		padding-left: 20px;
	}
}

.header__profession {
	font-size: 0.8em;
	padding-bottom: 10px;
}

@media screen and (min-width: 568px) {
	.header__profession {
		font-size: 0.6em;
		padding-left: 20px;
	}
}