.header {
	background-image: url("images/header-background.png");
	background-size: 135px;
	color: #FFF;
	height: 210px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 2;
}

@media screen and (min-width: 568px) {
	.header {
		height: 100px;
		text-align: unset;
	}
}

@media screen and (min-width: 640px) {
	.header {
		background-size: 110px;
	}
}

@media screen and (min-width: 720px) {
	.header {
		height: 110px;
	}
}

@media screen and (min-width: 768px) {
	.header {
		background-size: 140px;
		height: 100%;
		text-align: unset;
		width: 270px;
	}
}

@media screen and (min-width: 1024px) {
	.header {
		width: 280px;
	}
}

@media screen and (min-width: 2560px) {
	.header {
		width: 480px;
	}
}

.header__block {

}

@media screen and (min-width: 568px) {
	.header__block {
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {
	.header__block {
		padding-left: 40px;
		padding-top: 55px;
	}
}

@media screen and (min-width: 1024px) {
	.header__block {
		padding-left: 40px;
		padding-top: 60px;
	}
}

.header__block--additionalInformation {

}

@media screen and (min-width: 375px) {
	.header__block--additionalInformation {
		width: 370px;
	}
}

@media screen and (min-width: 411px) {
	.header__block--additionalInformation {
		display: inline-block;
	}
}

@media screen and (min-width: 568px) {
	.header__block--additionalInformation {
		left: 160px;
		position: absolute;
		top: 15px;
		width: unset;
	}
}

@media screen and (min-width: 667px) {
	.header__block--additionalInformation {
		left: 190px;
	}
}

@media screen and (min-width: 768px) {
	.header__block--additionalInformation {
		display: block;
		padding-left: 20px;
		padding-top: 170px;
		position: initial;
	}
}

@media screen and (min-width: 1024px) {
	.header__block--additionalInformation {
		padding-left: 20px;
		padding-top: 210px;
	}
}

@media screen and (min-width: 2560px) {
	.header__block--additionalInformation {
		padding-left: 20px;
		padding-top: 290px;
	}
}

.header__block--languages {
	position: fixed;
	right: 10px;
	top: 10px;
}

@media screen and (min-width: 568px) {
	.header__block--languages {
		display: grid;
		right: 130px;
		position: absolute;
		top: 15px;
	}
}

@media screen and (min-width: 768px) {
	.header__block--languages {
		display: initial;
		left: inherit;
		padding-top: 10px;
		right: inherit;
		top: 10px;
	}
}

@media screen and (min-width: 2560px) {
	.header__block--languages {
		padding-left: 55px;
		padding-top: 20px;
		top: 20px;
	}
}

.header__container {
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 0.7em;
	padding-left: 20px;
	padding-top: 5px;
}

@media screen and (min-width: 425px) {
	.header__container {
		font-size: 0.75em;
	}
}

@media screen and (min-width: 568px) {
	.header__container {
		display: inherit;
		padding-bottom: 5px;
		padding-top: inherit;
	}
}

@media screen and (min-width: 768px) {
	.header__container {
		font-size: 0.75em;
		left: unset;
		text-align: unset;
		padding-top: 10px;
		width: unset;
	}
}

@media screen and (min-width: 1920px) {
	.header__container {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 2560px) {
	.header__container {
		font-size: 1.15em;
		padding-left: 35px;
	}
}

.header__container--address {
	background-image: url("images/home.png");
	background-position: left;
	background-size: 15px;
}

@media screen and (min-width: 2560px) {
	.header__container {
		background-size: 25px;
	}
}

.header__container--email {
	background-image: url("images/email-icon.png");
	background-position: left;
	background-size: 14px;
}

@media screen and (min-width: 2560px) {
	.header__container--email {
		background-size: 23px;
	}
}

.header__container--email a {
	color: #FFF;
}

.header__container--github {
	background-image: url("images/github-icon.png");
	background-position: left;
	background-size: 13px;
}

.header__container--github a {
	color: #FFF;
}

@media screen and (min-width: 2560px) {
	.header__container--github {
		background-size: 23px;
	}
}

.header__container--title {
	display: none;
}

@media screen and (min-width: 768px) {
	.header__container--title {
		display: block;
		font-size: 0.9em;
		font-weight: bold;
		padding-top: 20px;
		text-transform: uppercase;
	}
}

@media screen and (min-width: 1920px) {
	.header__container--title {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 2560px) {
	.header__container--title {
		font-size: 1.3em;
	}
}

.header__firstName {
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
}

@media screen and (min-width: 375px) {
	.header__firstName {
		font-size: 1.0em;
	}
}

@media screen and (min-width: 568px) {
	.header__firstName {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 667px) {
	.header__firstName {
		font-size: 0.8em;
	}
}

@media screen and (min-width: 768px) {
	.header__firstName {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1920px) {
	.header__firstName {
		font-size: 1.7em;
	}
}

@media screen and (min-width: 2560px) {
	.header__firstName {
		font-size: 1.8em;
	}
}

.header__image {
	background-color: white;
	box-shadow: 0 3px 6px -2px #b1b1b1;
	padding: 10px 10px 20px 10px;
	width: 100px;
}

@media screen and (min-width: 568px) {
	.header__image {
		width: 75px;
	}
}

@media screen and (min-width: 768px) {
	.header__image {
		width: 120px;
	}
}

@media screen and (min-width: 1024px) {
	.header__image {
		width: 140px;
	}
}

@media screen and (min-width: 2560px) {
	.header__image {
		width: 220px;
	}
}

.header__imageContainer {
	position: relative;
	top: 15px;
}

@media screen and (min-width: 568px) {
	.header__imageContainer {
		font-size: 0.9em;
		position: absolute;
		right: 15px;
		top: 15px;
	}
}

@media screen and (min-width: 768px) {
	.header__imageContainer {
		left: 40px;
		top: 150px;
	}
}

@media screen and (min-width: 1024px) {
	.header__imageContainer {
		left: 40px;
		top: 180px;
	}
}

@media screen and (min-width: 2560px) {
	.header__imageContainer {
		left: 40px;
		padding-left: 15px;
		top: 250px;
	}
}

.header__language {
	display: inline-block;
	width: 20px;
}

@media screen and (min-width: 375px) {
	.header__language {
		width: 25px;
	}
}

@media screen and (min-width: 425px) {
	.header__language {
		width: 24px;
	}
}

@media screen and (min-width: 540px) {
	.header__language {
		padding-right: 5px;
		width: 30px;
	}
}

@media screen and (min-width: 568px) {
	.header__language {
		padding-bottom: 3px;
		width: 28px;
	}
}

@media screen and (min-width: 768px) {
	.header__language {
		padding-right: 5px;
		width: 35px;
	}
}

@media screen and (min-width: 1920px) {
	.header__language {
		width: 50px;
	}
}

@media screen and (min-width: 2560px) {
	.header__language {
		padding-right: 10px;
		width: 60px;
	}
}

.header__languageImage {
	border: 1px solid lightblue;
	border-radius: 50%;
	width: 100%;
}

.header__languageImage--active {
	border: 2px solid #FFF;
}

.header__lastName {
	display: block;
	font-size: 1.0em;
	text-transform: uppercase;
}

@media screen and (min-width: 375px) {
	.header__lastName {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 568px) {
	.header__lastName {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 667px) {
	.header__lastName {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 768px) {
	.header__lastName {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1920px) {
	.header__lastName {
		font-size: 2.0em;
	}
}

@media screen and (min-width: 2560px) {
	.header__lastName {
		font-size: 2.3em;
	}
}

.header__name {
	padding-bottom: 5px;
	padding-top: 10px;
}

@media screen and (min-width: 568px) {
	.header__name {
		padding-left: 20px;
		padding-top: 15px;
	}
}

@media screen and (min-width: 768px) {
	.header__name {
		padding-top: initial;
	}
}

@media screen and (min-width: 768px) {
	.header__name {
		padding-left: unset;
	}
}

@media screen and (min-width: 2560px) {
	.header__name {
		padding-left: 15px;
		padding-top: 40px;
	}
}

.header__profession {
	font-size: 0.6em;
	padding-bottom: 5px;
}

@media screen and (min-width: 375px) {
	.header__profession {
		font-size: 0.8em;
	}
}

@media screen and (min-width: 425px) {
	.header__profession {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 568px) {
	.header__profession {
		padding-left: 20px;
	}
}

@media screen and (min-width: 768px) {
	.header__profession {
		font-size: 0.8em;
		padding-left: unset;
	}
}

@media screen and (min-width: 1920px) {
	.header__profession {
		font-size: 1.0em;
	}
}

@media screen and (min-width: 2560px) {
	.header__profession {
		font-size: 1.2em;
		padding-left: 15px;
	}
}
