.header {
	background-color: lightblue;
	color: #FFF;
	max-height: 28vh;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 2;
}

@media screen and (min-width: 568px) {
	.header {
		min-height: 30vh;
		text-align: unset;
	}
}

@media screen and (min-width: 768px) {
	.header {
		height: 100vh;
		max-height: unset;
		max-width: 25vw;
		min-height: unset;
		min-width: 25vh;
		text-align: unset;
		width: unset;
	}
}

@media screen and (min-width: 1024px) {
	.header {
		min-width: 35vh;
	}
}

.header__block {

}

@media screen and (min-width: 568px) {
	.header__block {
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {
	.header__block {
		padding-left: 5vw;
		padding-top: 6vh;
	}
}

@media screen and (min-width: 1024px) {
	.header__block {
		padding-left: 4vw;
		padding-top: 8vh;
	}
}

.header__block--additionalInformation {

}

@media screen and (min-width: 568px) {
	.header__block--additionalInformation {
		left: 30vw;
		position: absolute;
		top: 5vh;
	}
}

@media screen and (min-width: 768px) {
	.header__block--additionalInformation {
		display: block;
		padding: unset;
		padding-left: 3vw;
		padding-top: 16vh;
		position: initial;
		top: 12vh;
	}
}

@media screen and (min-width: 1024px) {
	.header__block--additionalInformation {
		padding-left: 2vw;
		padding-top: 25vh;
	}
}

.header__block--languages {
	display: none;
}

@media screen and (min-width: 768px) {
	.header__block--languages {
		display: initial;
		padding-top: 2vh;
		position: absolute;
	}
}

.header__container {
	background-repeat: no-repeat;
	display: inline-block;
	font-size: 0.7em;
	padding-left: 20px;
	padding-top: 5px;
}

@media screen and (min-width: 568px) {
	.header__container {
		display: inherit;
		left: 25vw;
	}
}

@media screen and (min-width: 768px) {
	.header__container {
		font-size: 0.75em;
		left: unset;
		text-align: unset;
		padding-top: 10px;
		width: unset;
	}
}

.header__container--address {
	background-image: url("home.png");
	background-position: left;
	background-size: 15px;
}

.header__container--email {
	background-image: url("email-icon.png");
	background-position: left;
	background-size: 14px;
}

@media screen and (min-width: 568px) {
	.header__container--email {
		left: 26.2vw;
	}
}

.header__container--email a {
	color: #FFF;
}

.header__container--github {
	background-image: url("github-icon.png");
	background-position: left;
	background-size: 13px;
}

.header__container--github a {
	color: #FFF;
}

.header__container--title {
	display: none;
}

@media screen and (min-width: 768px) {
	.header__container--title {
		display: initial;
		font-size: 0.9em;
		font-weight: bold;
		padding-top: 10px;
		text-transform: uppercase;
		top: 20vh;
	}
}

.header__firstName {
	display: block;
	font-size: 0.8em;
	text-transform: uppercase;
}

@media screen and (min-width: 568px) {
	.header__firstName {
		font-size: 0.7em;
	}
}

@media screen and (min-width: 768px) {
	.header__firstName {
		font-size: 1.2em;
	}
}

.header__image {
	background-color: white;
	border: 1px solid #BFBFBF;
	box-shadow: 10px 10px 5px #aaaaaa;
	max-width: 150px;
	padding: 10px 10px 20px 10px;
	width: 25vw;
}

@media screen and (min-width: 568px) {
	.header__image {
		background-color: white;
		border: 1px solid #BFBFBF;
		box-shadow: 10px 10px 5px #aaaaaa;
		padding: 10px 10px 20px 10px;
		width: 10vw;
	}
}

@media screen and (min-width: 768px) {
	.header__image {
		width: 15vw;
	}
}

@media screen and (min-width: 1024px) {
	.header__image {
		width: 10vw;
	}
}

.header__imageContainer {
	position: relative;
	top: 2vh;
}

@media screen and (min-width: 568px) {
	.header__imageContainer {
		font-size: 0.9em;
		position: absolute;
		right: 5vw;
		top: 5vh;
	}
}

@media screen and (min-width: 768px) {
	.header__imageContainer {
		position: absolute;
		left: 5vw;
		top: 13.5vh;
	}
}

@media screen and (min-width: 1024px) {
	.header__imageContainer {
		position: absolute;
		left: 4vw;
		top: 19vh;
	}
}

.header__language {
	display: inline-block;
	width: 4vw;
}

.header__languageImage {
	border: 1px solid lightblue;
	border-radius: 50%;
	max-width: 40px;
	width: 100%;
}

.header__languageImage--active {
	border: 2px solid #FFF;
}

.header__lastName {
	display: block;
	font-size: 1.0em;
	text-transform: uppercase;
}

@media screen and (min-width: 568px) {
	.header__lastName {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 768px) {
	.header__lastName {
		font-size: 1.5em;
	}
}

.header__name {
	padding-bottom: 5px;
	padding-top: 10px;
}

@media screen and (min-width: 568px) {
	.header__name {
		padding-left: 20px;
		padding-top: 5vh;
	}
}

@media screen and (min-width: 768px) {
	.header__name {
		padding-top: initial;
	}
}

@media screen and (min-width: 768px) {
	.header__name {
		padding-left: unset;
	}
}

.header__profession {
	font-size: 0.6em;
	padding-bottom: 5px;
}

@media screen and (min-width: 568px) {
	.header__profession {
		font-size: 0.6em;
		padding-left: 20px;
	}
}

@media screen and (min-width: 768px) {
	.header__profession {
		font-size: 0.8em;
		padding-left: unset;
	}
}
